body {
    background-color: white;
    display: grid;
    place-items: center;
}

.calculatior {
    background-color: antiquewhite;
    color: white;
    width: 350px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
}

.pantalla {
    grid-column: 1/3;
}

btn {
    
}